  ::selection{ background-color: #E13300; color: white; }
  ::moz-selection{ background-color: #E13300; color: white; }
  ::webkit-selection{ background-color: #E13300; color: white; }

	html.busy, html.busy * {  
	  cursor: wait !important;  
	}

  body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
  }

  .info{
    font-weight: bold;
    display: inline;
    width: 100px;
    position: absolute;
  }
  
  .colon{
    color: #FF0000;
    font-weight: bold;
    margin-left: 110px;
    position: absolute;
    display: inline;
  }
  
  input{
    margin-left: 120px;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }
  input[type="submit"]{
    margin: 10px 0 0 216px;
  }
  
  .logout{
    display: inline;
    position: fixed;
    margin-top: -40px;
    margin-left: 350px;
  }

  a {
    text-decoration: none;
    color: #FF0000;
  }
  
  .log{
    border: 1px solid #FFD0D0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
  }
  
  .success_log{
    border: 1px solid #D0FFD0 !important;
  }

  #member_list{
	 padding: 0 5px 0 5px;
	 overflow-x: hidden;
	 overflow-y: auto;
	 border-bottom: 1px solid #D0D0D0;
	 line-height: 20px;
	 height: 175px;
  }
  
  .members{
		background-color: #DFDFDF;
		display: block;
		margin-bottom: 5px;  
		cursor: pointer;
		padding: 5px;
  }
  
  .members:hover{
    background-color: #AFAFAF;
    font-weight: bold;
    color: #FFFFFF;
  }
	
  h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
  }

  code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
  }

  #body{
    margin: 15px 0px 15px 0px;
  }
  
  p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
  }
  
  #container{
    margin: 0 auto;
    position: relative;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
    width: 400px;
  }
  
  #content{
    margin: 0 auto;
    position: relative;
    width: 270px;
  }
